<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-lg py-2" style="font-family: Ysabeau Infant, sans-serif">
        <div class="container">
            <div>
                <a href=@Url.Action("Index", "Home") style="width:30px">
                    <img src="~/file.png"/ style="width: 350px; margin-right: 12px">
                </a>
            </div>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-3" style="font-size: 20px">
                    <li>@Html.ActionLink("NECKLACES", "Necklaces", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("RINGS", "Rings", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("BRACELETS", "Bracelets", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("EARRINGS", "Earrings", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <ul class="navbar-nav navbar-right" id="nav2">
                    <li>@Html.Partial("_LoginPartial")</li>
                    <li>@Html.ActionLink(" ", "Index", "Wishlists", new { area = "" }, new { @class = "nav-link fa fa-fw fa-heart", style = "font-size: 25px; margin-right: 5px" })</li>
                    <li>@Html.ActionLink(" ", "Index", "Carts", new { area = "" }, new { @class = "nav-link fa fa-fw fa-shopping-cart", style = "font-size: 25px" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Luxe Legacy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
