@model IEnumerable<LuxeLegacy.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>All Products</h2>

<p>
    @Html.ActionLink("Create New Product", "Create")
</p>
<table class="table" id="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                    <button data-product-id="@item.ProductId" class="btn btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#table1").DataTable();
            $(".js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this product?", function (result) {
                    if (result) {
                        $.ajax({
                            method: "GET",
                            url: "/Products/Delete/" + button.attr("data-product-id"),
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            });
        });
    </script>
}

